
.container{
  margin: 0 5%;
  position:relative;
  min-height:100vh-5vw;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family:'Montserrat', sans-serif;
    /*font-size:2vw;*/
    text-decoration: none;
}

nav{
    font-family: 'Montserrat', sans-serif;
    background-color:#ffffff;
    text-align:center;
    display:flex;
    justify-content: flex-end;
    color:#000000;
    font-weight:650;
    font-size:3vw;
    text-decoration: none;
    padding: 1vw 0;
    height:auto;
    width:100%;
    margin-left: 0px;
    position:fixed;
    top:0;

    overflow: hidden;
    border-bottom: 5px solid black;
}

header{
    z-index:99;
    position: fixed;
}

nav a{
    text-decoration: none;
    text-align:center; 
    margin:auto;
    color:black;
    padding:2.5px 0;
}

a { text-decoration: none; }

h1 { font-size: 3em; }

footer ul li { display: inline; margin-right: 20px; }

nav a:hover{
    text-decoration: underline;
    background-color:white;
    color:#000000;
}

footer { 
    border-top: 2px solid #d5d5d5; 
    height: 3vh;
    margin-top: -3vh;
}

@media only screen and (max-device-width: 991px) {
    body { 
        font-family: Helvetica, Arial, Sans-Serif; 
    }
  
    .container{
        margin: 0 2%;
    }
}
body {
    z-index:-1;
    width: 100%; 
    padding-top:6.5vw;
    color: black;
    font-family: 'Montserrat', sans-serif;

}

.button-font{
    font-family:'Montserrat', sans-serif;
}
.type-field{
    height:1vw;
}